#skillsBox {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
}

.skills-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.skills-title h2 {
    font-size: 4em;
    color: var(--tertiary-color-10);
    text-shadow: 5px 5px 10px #0000001a,
               -5px -5px 10px #ffffff;
}


#skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    -moz-column-gap: 5vw;
    -webkit-column-gap: 5vw;
    align-items: start;
}

@media screen and (max-width: 768px) {
    .skills-title h2 {
        font-size: 2em;
    }

    #skillsGrid {
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }
}
