/* Basic Styling */

.logo {
    filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(30deg) brightness(116%) contrast(102%);
    width: 4rem;
    margin-left: 8rem;
    margin-top: 1.5rem;
    align-self: center !important;
}



.logo:hover{
    filter: invert(73%) sepia(97%) saturate(2294%) hue-rotate(2deg) brightness(106%) contrast(98%);
}


/* Styling for mobile screens */

@media screen and (max-width: 768px) {

    .logo{
        margin-left: 2rem;
    }


}





































/* Basic styling
header {
    background-color: var(--primary-color);
    padding: 0 2rem;
}

.logo {
    width: 4rem;
    padding: 7.5px 10px 7.5px 0;
}

.menu .submenu {
    list-style-type: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.item {
    padding: 10px;
}

.item a:hover::after{
    color: var(--secondary-color-2);
}

/* Mobile Menu */

/* .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
    align-self: center;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}



/* submenu styles for mobile screens */
/* 
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.has-submenu > a::after{
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: #fff;
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: var(--secondary-color-2);
    /* border-radius: 3px;
} */