#socialsBox {
    width: 100vw;
    background: var(--tertiary-color-14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--tertiary-color-10);
    padding: 0px 0 50px;
}

#socials-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#socials-title h3 {
    font-size: 2em;
    color: var(--tertiary-color-10);
    text-shadow: 5px 5px 10px #0000001a, 
               -5px -5px 10px #ffffff;
}


#socials-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0px;
    background: var(--tertiary-color-14);
    border-radius: 10px;
    text-align: center;
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-9), 4px 2px 6px 0px var(--tertiary-color-16);
}

#sc-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    -moz-column-gap: 5vw;
    -webkit-column-gap: 5vw;
    -o-column-gap: 5vw;
}

#sc-top-left {
    text-align: center;
}

#sc-top-left p {
    font-size: 1.5em;
    margin-top: 1em;
}


#sc-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sm-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sm-icons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-row-gap: 20px;
    -webkit-row-gap: 20px;
}

#sm-icons-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-9), 4px 2px 6px 0px var(--tertiary-color-16);
}

#sm-icons-grod a:hover {
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-21), 4px 2px 6px 0px var(--tertiary-color-22);
}

#sm-icons-grid a:active {
    box-shadow: inset -4px -2px 4px 0px var(--tertiary-color-21), inset 4px 2px 6px 0px var(--tertiary-color-22);
}

#sm-icoms-grid img {
    width: 50px;
}

#sc-bottom {
    width: 100%;
    text-align: center;
}